*{
    margin: 0%;
    padding: 0%;
}
header{
    height: 30px;
    width: 100%;
    background-color: #323232;
}
/* 顶部导航栏 */
#nav-top{
    width: 100%;
    height: 30px;
}
/* 顶部导航条logo */
#nav-list-img{
    display: inline-block;
    width: 70%;
    vertical-align: text-top;
}
/* 顶部左边导航 */
#nav-left{
    float: left;
    font-size: 14px;
    margin-left: 18px;
    width: 60%;
}
/* 顶部左边导航logo盒子 */
#nav-left-img{
    height: 30px;
    float: left;
}
/* 顶部左边导航logo样式 */
#nav-left-img img{
    height: 100%;
    vertical-align: top;
}
/* 顶部左边导航的li样式 */
.nav-list{
    position: relative;
    height: 30px;
    line-height: 30px;
    width: 86px;
    list-style: none;
    float: left;
    text-align: center;
    cursor: pointer;
    border-top: 4px;
}
#nav-right{
    float: right;
    margin-right: 15px;
}
/* 顶部右边导航的li样式 */
.nav-list-right{
    list-style: none;
    position: relative;
    height: 30px;
    line-height: 30px;
    width: 26px;
    float: left;
    text-align: center;
    cursor: pointer;
    border-top: 4px;
    margin-left: 10px;
}
.nav-list-right1{
    list-style: none;
    position: relative;
    height: 30px;
    line-height: 30px;
    width: 86px;
    float: left;
    text-align: center;
    cursor: pointer;
    border-top: 4px;

}
/* 顶部左边、右边导航的li标签里的a样式 */
.nav-list a{
    text-decoration: none;
    color: #c0c0c0;
    font-size: 16px;
    display: inline-block;
    width: 86px;
    height: 30px;
}
.nav-list-right1 a:hover{
    color: #10b041;
}
.nav-list-right a{
    text-decoration: none;
    color: #c0c0c0;
    font-size: 16px;
    display: inline-block;
    width: 26px;
    height: 30px;
}
.nav-list-right1 a{
    text-decoration: none;
    color: #c0c0c0;
    font-size: 16px;
    display: inline-block;
    width: 86px;
    height: 30px;
}
/* 顶部导航二级菜单ul样式 */
.none{
    display: none;
    background-color: #fff;
    width: 160px;
}
/* 顶部二级菜单li样式 */
.none li{
    list-style: none;
    height: 40px;
    line-height: 40px;
    background-color: #fff;

}
/* 顶部二级菜单中的a标签样式 */
.none li a{
    color: #979797;
    width: 100%;
    height: 42.2px;
    text-align: center;

}
/* 顶部二级菜单伪类 */
.none li:hover{
    background-color: #E3FAE1;
}
/* ======================================================顶部导航条结束分界线======================================================================== */

/* 背景图片 */
#Backgroung-img{
    background: linear-gradient(to top,#535353,#323232);
    min-width: 1160px;
    height: 200px;
}
/* 用于放置个性签名的盒子 */
#Backgroung-img-count{
    width: 70%;
    height: 200px;
    position: relative;
    margin: 0 auto;
}
#Backgroung-img-count textarea{
    outline: none;
    background-color: transparent;
    border: 1px solid #686363;
    position: absolute;
    bottom: 20px;
    right: 0;
    color: #979797;
    padding: 10px;
}
/* =====================================================分界线============================================================ */

/* 用户信息盒子 */
#User{
    min-width: 1160px;
    height: 150px;
    box-shadow: 0 3px 9px hsl(0deg 0% 88% / 77%);
    background-color: #fff;
}
/* 用户居中信息 */
#User-count{
    display: flex;
    width: 1160px;
    height: 148px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    color: #636363;
    position: relative;
}
/* 头像、姓名、等级、关注、粉丝..盒子 */
#User-count-top{
    width: 1160px;
    height: 66px;
    padding: 22px 0px 0px;
    position: relative;
}
/* 用户头像盒子 */
#top-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    position: absolute;
    top: -27px;
}
#top-img img{
    width: 100%;
}
/* 盒子中间的文字部分 */
#top-count{
    width: 430px;
    height: 44px;
    margin-left: 130px;
    margin-top: 10px;
}
/* 用户姓名 */
#User-Nanme{
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}
/* 穷币、钱包盒子 */
#top-count-buootm ul li{
    list-style: none;
    float: left;
    margin: 0px 20px;
    font-size: 14px;
    color: #343434;
}
#top-count-buootm ul li a{
    text-decoration: none;
    color: #10b041;
}
#top-count-buootm ul li a:hover{
    color: #0c8631;
}
/* 关注、粉丝盒子 */
#Gz-Fs{
    width: 200px;
    height: 44px;
    position: absolute;
    top: 32px;
    right: 0px;
}
#Gz-Fs ul li{
    float: left;
    list-style: none;
    margin: 0px 10px;
    font-size: 14px;
}
#Gz-Fs a{
    text-decoration: none;
    color: #10b041;
    float: right;
    margin-right: 30px;
}
#Gz-Fs a:hover{
    color: #0c8631;
}
/* <!-- 盒子里面下方部分（首页、帖子导航条部分） --> */
#User-count-bottom{
    min-width: 1160px;
    height: 41px;
    font-size: 18px;
}
#User-count-bottom ul{
    height: 41px;
    width: 1160px;
}
#User-count-bottom ul li{
    list-style: none;
    float: left;
    height: 41px;
    margin-left: 20px;
    cursor: pointer;
}
#User-count-bottom ul li a{
    text-decoration: none;
    color: #343434;
}
#User-count-bottom ul li a:hover{
    color: #10b041;
    
}
#User-count-bottom ul li:hover{
    border-bottom: 1px solid #10b041;
}
/* ===================================================分界线================================================================= */

/* 我的行程、行程回收站。。。盒子 */
#xiangqing{
    height: 600px;
    min-width: 1160px;
    background-color: hsl(0deg 0% 88% / 77%);
}
#xiangqing-count{
    width: 1160px;
    height: 600px;
    margin: 0 auto;
    position: relative;
}
#xiangqing-count-left{
    width: 320px;
    height: 183px;
    font-size: 16px;
    font-weight: 500;
    float: left;
}
#xiangqing-count-left ul{
    width: 100%;
    height: 305px;
    margin-top: 30px;
    background-color: #f5f5f5;
}
#xiangqing-count-left ul li{
    list-style: none;
    height: 61px;
    line-height: 61px;
}
#xiangqing-count-left ul li a{
    text-decoration: none;
    padding: 0px 30px;
    color: black;
}
#xiangqing-count-left ul li:hover{
    background-color: #28B76C1A;
}
#xiangqing-count-left ul li a:hover{
    color: #28b76c;
}
/* 右边创建行程 */
#xiangqing-count-rigth{
    width: 800px;
    height: 570px;
    float:left;
    margin-left: 20px;
    margin-top: 30px;
}
/* 创建行程按钮 */
#anniu-div{
    width: 800px;
    height: 34px;
}
#anniu{
    font-size: 24px;
    color: #000!important;
    line-height: 34px;
    display: inline-block;
    width: 120px;
    height: 34px;
    text-align: center;
    text-decoration: none;
    margin-right: 540px;
}
/* 显示行程盒子 */
#show-xingcheng{
    width: 760px;
    height: 230px;
    margin-top: 20px;
    background-color: #fff;
}
#show-xingcheng:hover{
    box-shadow: 3px 3px 3px #979797;
}
/* ===================================================分界线================================================================= */


#footer{
    min-width: 1160px;
    height: 120px;
    background-color: #323232;
}
/* 居中内容盒子 */
#footer-count{
    width: 1100px;
    height: 50px;
    margin: 0 auto;
}   
#footer-count ul li{
    float: left;
    list-style: none;
    margin: 0px 5px;
    font-size: 14px;
    color: silver;
    margin-top: 35px;
}
#footer-count p{
    font-size: 12px;
    color: #636363;
    margin-top: 18px;
    margin-top: 40px;
}